<div class="header">
  <span class="title">angular2组件库</span>
</div>

<div class="container">
  <div class="item">
  <h5>轮播组件</h5>
  <app-slider [width]="900" [height]="400" [time]="4000" [list]="list"></app-slider>
  </div>

  <div class="introduce">
    <label>使用說明：</label>
    <table style="width: 60%" cellpadding="0" cellspacing="0">
      <tr>
      <td>參數</td>
      <td>說明</td>
      </tr>
      <tr>
        <td>width</td>
        <td>展示圖片的寬度</td>
      </tr>
      <tr>
        <td>height</td>
        <td>展示圖片的高度</td>
      </tr>
      <tr>
        <td>time</td>
        <td>切換的時間</td>
      </tr>
      <tr>
        <td>list</td>
        <td>圖片數據源[數組]</td>
      </tr>

    </table>
  </div>
</div>
