.header{
  width: 100%;
  height: 60px;
  background-color: #00ae6a;
  display: flex;
}
.header .title{
  color:#fff;
  vertical-align: middle;
  font-size: 26px;
  padding: 10px;
}
.container{
  padding: 15px;
}

.item{
  background-color: #fff;
}

.introduce{
  margin: 10px 0 ;
  padding: 10px;
}

tr:nth-child(odd){
  background:#fff;
}

tr:nth-child(even){
  background:#00ae6a;
}

td{
  text-align: center;
}
