<div class="banner" [style.width.px]="width" [style.height.px]="height">
  <ul class="banner_picList">
    <li [@state]="currentPic == i" *ngFor="let item of bannerList;let i =index;">
      <a [href]="item.clickUrl" target="_blank">
        <img [src]="item.url" [style.width.px]="width" [style.height.px]="height"  alt="banner picture">
      </a>
    </li>
  </ul>
  <ul class="banner_btnList" *ngIf="bannerList.length > 1">
    <li *ngFor=" let item of bannerList;let i =index">
      <span class="picBtn" [ngClass]="{'current':currentPic == i}" (click)="change(i)">●</span>
    </li>
  </ul>
</div>
